.nav-container {
  background-color: #333;
  width: 20%;
  position: fixed;
}

.nav-container > nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-container > nav > a {
  height: 50px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans, Arial, sans-serif;
  text-transform: uppercase;
  color: #f9f9f9;
  text-decoration: none;
}

.portrait-container {
  text-align: center;
  padding-top: 50px;
}

#portrait-img {
  width: 50%;
  border-radius: 50%;
}

.intro {
  padding-bottom: 50px;
  text-align: center;
}

.intro > h1 {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 20px;
  color: #f9f9f9;
}

.intro > p {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  color: #f9f9f9;
  line-height: 90%;
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 80px;
}

.socials > a {
  font-size: 30px;
  color: #c6c6c6;
}
