body {
  width: 100%;
  background-color: #f9f9f9;
}

header {
  width: 20%;
  float: left;
}

h2 {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 17px;
  color: #333333;
  text-transform: uppercase;
}

h3 {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 15px;
  color: #333333;
  text-transform: uppercase;
}

.nav-container {
  background-color: #333;
  width: 20%;
  position: fixed;
}

.nav-container > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.nav-container > nav > a {
  height: 50px;
  width: 100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Open Sans, Arial, sans-serif;
  text-transform: uppercase;
  color: #f9f9f9;
  text-decoration: none;
}

.nav-container > nav > a:hover {
  text-decoration: underline;
}

.portrait-container {
  text-align: center;
  padding-top: 50px;
}

#portrait-img {
  width: 50%;
  border-radius: 50%;
}

.intro {
  padding-bottom: 50px;
  text-align: center;
}

.intro > h1 {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 20px;
  color: #f9f9f9;
}

.intro > p {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  color: #f9f9f9;
  line-height: 90%;
}

.hireme > a {
  color: #D8AE47;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 80px;
}

.socials > a {
  font-size: 30px;
  color: #c6c6c6;
}

main {
  width: auto;
  padding-left:20%;
  float: left;
  margin: 50px;
}

footer {
  padding-left: 20%;
  float: left;
  background-color: #D8AE47; 
  width: 100%;
}

footer > p {
  margin: 50px;
  color: #ffffff;
  font-size: 15px;
}

.title {
  padding-top: 50px;
  font-family: Open Sans, Arial, sans-serif;
}

.intro-sections {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
}

/* TABS */

.tabs {
  display: block;
  padding-top: 50px;
}

.tab-buttons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float:left;
  width: 20%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-button > a:hover {
  color: #D8AE47;
}

.tab-button--active > .tab-link {
  background-color: #ffffff;
  color: #D8AE47;
}

.tab-link {
  display: block;
  padding: 20px;
  background-color: #f2f2f2;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
}

.tab-content {
  display:none;
  padding: 20px;
  background-color:#fff;
  color: #333;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  width:90%;

}

.tab-content--active{
  display: block;
  width: 80%;
  float: left;
}

/* SKILLS */

.skill-container {
  padding-top: 350px;
  padding-bottom: 250px;
  display: block;
  height: 100%;
}

.progress {
  height: 15px;
  border-radius: none !important;
}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

span {
  
  display:block;
  position: relative;
  font-size: 13px;
  font-weight: 600;
  text-transform:uppercase;
  color: #888888;
	line-height: 17px;
	margin-bottom:5px;
}

.progress-bar {
  text-align: left;
  border-radius: none;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  background-color: #D8AE47;
}

.bar-container {
  width: 50% !important;
  float: left;
  padding-right: 20px;
}

/* PORTFOLIO */

.portfolio-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 100px;
}

.portfolio-content img {
  width: 25%;
  height: 30%;
  -webkit-filter: grayscale(60%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.52756 0.42911999999999995 0.04332 0 0 0.12756 0.82912 0.04332 0 0 0.12756 0.42911999999999995 0.44332 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: grayscale(60%);
  padding: 3px;
}

/* PORTFOLIO HOVER */
.item-hover {
	position: relative;
  height: 30%;
  width: 25%;
	float: left;
	overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-hover > img {
  width: 100%;
  -webkit-filter: grayscale(60%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.52756 0.42911999999999995 0.04332 0 0 0.12756 0.82912 0.04332 0 0 0.12756 0.42911999999999995 0.44332 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: grayscale(60%);
  padding: 3px;
}

.item-hover > .overlay {
	width: 100%;
	height: 100%;
  padding: 3px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;

	-webkit-transform: translate(0,300px);
	transform: translate(0,300px);
}

.item-hover > h3 {
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0px;
  color: #fff;

	-webkit-transition: all .6s ease-in;
	transition: all .6s ease-in;

	-webkit-transform: translate(0,200px);
	transform: translate(0,200px);
	text-align: center;
	z-index: 2;
}

.item-hover > button {
	border: 0px;
	background: #D8AE47;
	color: #fff;
	width: 100px;
	height: 40px;
	top: 100px;
	position: absolute;

	-webkit-transform: translate(0,300px);
	transform: translate(0,300px);
	z-index: 2;
}

.item-hover > .overlay {
	-webkit-transition: .6s ease-in;
	transition: .6s ease-in;
}

.item-hover > h3 {
	-webkit-transition: .5s ease-in;
	transition: .5s ease-in;
}

.item-hover > button {
	-webkit-transition: .5s ease-in;
	transition: .5s ease-in;
}

.item-hover:hover > .overlay,.item-hover:hover > h3,.item-hover:hover > p,.item-hover:hover > button {
	-webkit-transform: rotate(0deg) translate(0,0);
	transform: rotate(0deg) translate(0,0);
}

/* CONTACTFORM */ 
.contactform {
  width: 50%;
  padding-right: 20px;
  float: left;
  padding-top: 50px;
}

.contactform-input {
  height: 5vh;
  width: 50%;
  float: left;
  border: none;
  padding: 10px;
}

.contactform-textarea {
  display: block;
  width: 100%;
  height: 30vh;
  border: none;
  padding: 10px;
}

.contactform-submit {
  height: 5vh;
  width: 100%;
  border: none;
  background-color: #333;
  color: #f9f9f9;
}

/* MAP */
#map {
  height: 40vh;
  width: 100%;
 }

.info-container {
  width: 50%;
  float: left;
  padding-top: 50px;
}


/* BACK TO TOP */
#toTop {
  width: 40px;
  height: 40px;
  border: 2px solid #D8AE47;
  background: #f2f2f2;
  color: #333333;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
  padding-top:5px;
  text-align: center;
  font-size: 30px;
}

